.csnapFrame {
	height: 500px;
	border: 0;
}

.sub {
	color: #e8e8e9;
}

hr.headerDivide {
	width: 75%;
	text-align: left;
	border-image: linear-gradient(to right, #0092ed, transparent) 1;
	border-style: inset;
	border-width: 1px;
	opacity: 1;
}
