.signInPrompt {
	p {
		color: #4a5568;
	}
	& > div {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;

		& > div {
			background-color: hsl(0, 0%, 99%);
			border-top: 6px solid #0092ed;

			& > div {
				padding-left: 25px;
				padding-right: 25px;
			}
		}
	}

	.header {
		margin-top: 1rem;
		border-bottom: 0px solid #dee2e6;

		& > div {
			color: hsl(0, 0%, 27%) !important;
			font-weight: 600;
			font-size: 1.4rem;
			width: 100% !important;
			text-align: center !important;
		}
	}

	.loginBtn {
		background-color: #0092ed;
		font-weight: 600;
		border-bottom: 0;
	}

	.footer {
		margin-top: 1.5rem;
		background-color: hsl(0, 0%, 93%);
		border-top: 0px;

		p {
			width: 100%;
			text-align: center;
			margin-top: 0.5rem;
			margin-bottom: 0.5rem;
		}
	}

	.forgotPassword {
		color: hsl(0, 0%, 27%) !important;
		font-size: 0.9rem;
	}
	strong a {
		color: hsl(0, 0%, 27%) !important;
		text-decoration: none;

		&:hover {
			color: hsl(0, 0%, 35%) !important;
		}
	}
	label {
		color: #8a888f;
	}
}

#signInErrorMsg {
	padding-left: 25px;
	padding-right: 25px;
	color: #cc1919;
}

#signInErrorMsg p {
	border: 1px solid;
	padding: 5px;
	background: hsl(0deg 78% 90%);
}
