.saveIcon {
	background: transparent !important;
	color: #c0cfe9;
	border: 0px;
	display: inline-flex;
	align-items: center;
	// &:last-of-type {
	// 	background: #6e9dee;
	// 	border-color: #6e9dee;
	// }
	p {
		margin-top: 0;
		margin-bottom: 0;
		padding-left: 0.5rem;
		font-size: small;
	}
}
