p.text-lesson {
	display: inline-flex;
	color: #0092ed;
	font-size: 1rem;
	line-height: 0.85rem;
}

.progress {
	height: 0.5rem;
}

.CircularProgressbar-text {
	font-size: 120px;
}

.dataContainer {
	display: flex;
	background-color: #2a2b36;
	flex-direction: column;
	height: 100%;

	.lessonHeader {
		color: #e8e8e9;
		padding: 1.2rem;
	}

	.lessonGroupContainer {
		h2 {
			button {
				font-weight: 700;
				background-color: #2a2b36;
				color: #fff;
				font-size: 1.2rem;
				line-height: 1rem;

				&:after {
					filter: invert(20%) sepia(9%) saturate(979%) hue-rotate(198deg) brightness(92%) contrast(85%);
				}
			}
		}

		div.accordionItem {
			background-color: #3b3c48;
			border: 0;
		}
	}

	.responseIncluded {
		max-height: 40vh;
		overflow-y: scroll;
	}
}
